@import url("./fonts/fonts.css");
body {
  margin: 0;
}

.sinxronizasiya{
  margin-top: 2%;
}

.section1{
  width: 80%;
  margin: 0 auto;

}

.section1 .calendar{
  display: flex;
  width: 60%;  
  margin-top: 6%;
}

  .logo{
    margin-right: 4vw;
    width: 10vw;

  }

.logo>img{
  width: 1.5vw;
  height: 1.5vw;
}

.article{
  display: flex;
}

.side-photo{
  width: 25%;
}

.side-photo img{
  width: 100%;
}