@import url("./fonts/fonts.css");

body {
    margin: 0px;
}
.section3{
    width: 80%;
    margin: 0 auto;
}
.section3 .cards {
    display: flex;
    

}

.section3 .h2 {
    
    width: 80%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5vw;
}

.section3 .p {
   padding-top:55px ;
    margin-right: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8vw;
    color: #1E4681;
    
}

.section3 .p1 {
 
    margin-right: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    color: #000000;
   

}
.section4{
    padding-top:180px;
    width: 80%;
    margin: 0 auto;
}
.section4 .meyve{
    display: flex;
    flex-wrap: wrap;
}
.section4 .portagal {
    
    width: 80%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5vw;
    
    color: #000000;
}

.section4 .alma {

    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    color: #000000;
}

@media (min-width:992px) and (max-width:1279px) {
    .section3 {
        width: auto;
        
    }

    .section4 {
        width: auto;
    }
}

@media (min-width:320px) and (max-width:990px) {
    .section3 {
        width: auto;
    }

    .section4 {
        width: auto;
    }
}